# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extension files
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter / IPython
.ipynb_checkpoints

# IDEA / PyCharm
.idea/

# VSCode
.vscode/

# PyCharm project settings
*.iml

# mypy, pylint etc.
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environments
*.env
*.venv
.env.*
venv.bak/
